/* Import av Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Poppins:wght@400;700&display=swap');

/* Bakgrunn og kropp */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #f5f7fa 0%, #e4e8eb 100%);
  padding: 20px;
  text-align: center;
  color: #2d3436;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

/* Overskrift */
h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  color: #2d3436;
  margin-bottom: 30px;
}

/* Boksene */
.task-box {
  background: #ffffff;
  border: 2px solid #2d3436;
  border-radius: 16px;
  padding: 10px;
  margin: 15px auto;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*.task-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}*/

.task-box.done {
  background-color: #E7FAE3; /* lys grønn */
  /* border: 1px solid #28a745;  grønn kant */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.task-box p {
  margin: 5px 0;
  font-size: 1em;
  color: #636e72 !important;
}

#lastClipped, #nextHaircut, #lastBeardTrim, #nextBeardTrim, #stretchStatus {
  color: #636e72 !important;
}

/* Knappene */
button {
  background-color: #45AC35;
  color: white;
  padding: 15px 25px;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 5px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 350px;
}

/*button:hover:not(:disabled) {
  background-color: #3a8f2d;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
*/
button:active:not(:disabled) {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:disabled {
  background-color: #b2bec3;
  cursor: not-allowed;
  box-shadow: none;
}

/* Spesifikk styling for reset-knappen */
button[onclick="resetTracker()"] {
  background-color: #d63031;
  margin-top: 30px;
}

button[onclick="resetTracker()"]:hover {
  background-color: #c0392b;
}

/* Media queries for responsivt design */
@media screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
  }

  .task-box {
    padding: 5px;
    margin: 25px auto;
  }

  .task-box p {
    font-size: 1em;
  }

  button {
    padding: 10px 16px;
    font-size: 0.9em;
  }
}   
